/*** TEXT ***/
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 125%;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: 0;
    margin: 100px auto;
    width: 4%;
}


/*** HERO ***/
.Hero {
    height: 650px;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-c {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-c {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mountain {
    position: absolute;
    left: 700px;
    bottom: 0;
}


/*** Middle ***/
.Middle {
    margin: 100px 0;
}

.pilt {
    border-radius: 100%;
    width: 15%;
}

.sissej {
    width: 40%;
    margin: auto;
}

.skill1 {
    width: 30%;
    margin: 100px auto 50px auto;
    text-align: left;
}

.skill p {
    line-height: 1;
}

.s1-img {
    border-radius: 100%;
    width: 25%;
    margin-right: 30px;
    margin-top: 25px;
    float: left;  
}

.checked {
    color: orange;
}

/*** Kontakt ***/
.kontakt-m {
    width: 40%;
    margin: 40px auto 30px;
}

.btn {
    -moz-border-radius: 8;
    -webkit-border-radius: 8;
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    background: #11cdd4;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/*** Footer ***/
.Footer {
    background: #66BFBF;
    padding: 50px 0 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}